@import url("../fonts/langdon/font.css");
@import url("../fonts/HiraKakuPro-W3/font.css");
@import url("../fonts/HiraKakuPro-W6/font.css");
/* line 5, E:/xampp/xampp/htdocs/OLO/build/common.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, E:/xampp/xampp/htdocs/OLO/build/common.scss */
html {
  font-size: 62.5%; }

/* line 7, E:/xampp/xampp/htdocs/OLO/build/common.scss */
body {
  font-size: 14px;
  font-size: 1.4rem; }

/* line 8, E:/xampp/xampp/htdocs/OLO/build/common.scss */
ul, ol {
  margin: 0; }

/* line 9, E:/xampp/xampp/htdocs/OLO/build/common.scss */
a, a:hover {
  text-decoration: none !important;
  outline: none !important; }

/* line 10, E:/xampp/xampp/htdocs/OLO/build/common.scss */
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem; }

/* line 12, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.clear {
  clear: both; }

/* line 51, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.white-bg {
  background: white; }

/* line 52, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.gray-bg {
  background: #f9fafb; }

/* line 53, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.blue-bg {
  background: #14a0aa; }

/* line 54, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.price1 {
  background: #14b4c8; }

/* line 55, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.price2 {
  background: #2896c8; }

/* line 56, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.price3 {
  background: #2878b4; }

/* line 58, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.btn-me {
  width: 100%;
  padding: 6px 0;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s; }
  /* line 67, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .btn-me:hover, .btn-me:focus {
    box-shadow: 1px 1px 5px 0 #67747a; }

/* line 71, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.btn-xanhla {
  background: #e0fa50; }

/* line 72, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.btn-xanhduong {
  background: #14a0aa; }

/* line 73, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.btn-lightgreen {
  background: #e0fa50; }

/* line 75, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

/* line 85, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.header {
  background: transparent;
  height: 7.5rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  /* line 92, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .header.bg-color {
    background: url("../img/bg-header.jpg") no-repeat;
    background-size: 100% 100%; }
  /* line 96, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .header .wrap-logo {
    padding-top: 15px; }
  /* line 100, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .header .navbar-me {
    padding-top: 20px; }
  /* line 103, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .header .main-navigation {
    float: right; }
    /* line 105, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .header .main-navigation li {
      float: left;
      padding: 0 15px;
      list-style-type: none; }
      /* line 109, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .header .main-navigation li:last-child {
        padding: 0; }
      /* line 112, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .header .main-navigation li a {
        display: block;
        color: white;
        font-size: 1.4rem;
        font-family: "HiraKakuPro-W6-AlphaNum";
        transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s; }
        /* line 118, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .header .main-navigation li a:hover {
          color: #505a5e; }

/* line 126, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.middle-content.sub-page {
  padding-top: 7.5rem; }

/* line 130, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.banner {
  padding-top: 7.5rem;
  background: url("../img/bg-header.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative; }
  /* line 135, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .banner .inner-banner {
    padding: 50px 0 75px;
    position: relative; }
    /* line 138, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .banner .inner-banner .left-banner {
      position: relative;
      padding-top: 130px; }
      /* line 141, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .banner .inner-banner .left-banner .title-banner {
        @inlcude fontW6;
        font-size: 2.2rem;
        color: white;
        line-height: 1.8rem;
        font-weight: 600;
        text-align: center; }
        /* line 148, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .banner .inner-banner .left-banner .title-banner.mrbot {
          margin-bottom: 2.5rem; }
      /* line 152, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .banner .inner-banner .left-banner .sub-banner {
        font-size: 1.4rem;
        font-family: "HiraKakuPro-W3-AlphaNum";
        margin-bottom: 3.0rem;
        color: white;
        text-align: right; }
      /* line 159, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .banner .inner-banner .left-banner .btn-me {
        color: #14a0aa; }
      /* line 162, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .banner .inner-banner .left-banner .ic {
        position: absolute; }
        /* line 164, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .banner .inner-banner .left-banner .ic.fb-ic {
          top: 18%;
          left: 27%; }
        /* line 168, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .banner .inner-banner .left-banner .ic.twitter-ic {
          top: 15%;
          left: 65%; }
        /* line 172, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .banner .inner-banner .left-banner .ic.in-ic {
          top: 10%;
          left: 45%; }
        /* line 176, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .banner .inner-banner .left-banner .ic.vine-ic {
          top: 0%;
          left: 35%; }
    /* line 184, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .banner .inner-banner .right-banner img {
      margin-bottom: 15px; }
    /* line 187, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .banner .inner-banner .right-banner p.sub-banner {
      color: white;
      text-align: right; }
  /* line 193, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .banner .btn-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    animation: btndown 2s infinite; }

/* line 204, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.section {
  padding: 8rem 0; }
  /* line 206, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .section h2.title-section {
    font-size: 2.2rem;
    font-family: "HiraKakuPro-W6-AlphaNum";
    text-align: center; }
    /* line 210, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .section h2.title-section.h14 {
      font-size: 1.4rem; }
  /* line 214, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .section .wrap-btn-section {
    margin-top: 30px; }

/* line 219, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.contact-section {
  position: relative; }
  /* line 221, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .contact-section p.title-contact {
    font-size: 1.6rem;
    font-family: "HiraKakuPro-W6-AlphaNum";
    color: white;
    text-align: center;
    margin-bottom: 30px; }
  /* line 228, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .contact-section .wrap-phone {
    max-width: 440px;
    margin: 30px auto 0; }
    /* line 231, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .contact-section .wrap-phone p {
      color: white;
      font-size: 1.6rem;
      font-family: "HiraKakuPro-W6-AlphaNum"; }
    /* line 236, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .contact-section .wrap-phone p.phone {
      float: left;
      padding-left: 40px;
      position: relative; }
      /* line 240, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .contact-section .wrap-phone p.phone:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 25px;
        height: 25px;
        background: url("../img/phone-icon.png") no-repeat; }
    /* line 251, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .contact-section .wrap-phone p.time {
      float: right; }
  /* line 256, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .contact-section a.btn-up {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }

/* line 267, E:/xampp/xampp/htdocs/OLO/build/common.scss */
h1.title-page {
  font-size: 4.2rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Langdon';
  text-align: center;
  margin-bottom: 25px; }

/* line 275, E:/xampp/xampp/htdocs/OLO/build/common.scss */
p.sub-title-page {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  font-family: "HiraKakuPro-W3-AlphaNum";
  text-align: center; }

/* line 283, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.footer {
  padding: 100px 0 125px; }
  /* line 286, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .navigation-footer {
    list-style-type: none; }
    /* line 288, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .footer .navigation-footer li {
      display: block;
      margin-bottom: 10px; }
      /* line 291, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .footer .navigation-footer li:last-child {
        margin-bottom: 0; }
      /* line 294, E:/xampp/xampp/htdocs/OLO/build/common.scss */
      .footer .navigation-footer li a {
        display: block;
        padding: 3px 0;
        color: #505a5e;
        font-family: "HiraKakuPro-W3-AlphaNum";
        font-size: 1.4rem; }
        /* line 300, E:/xampp/xampp/htdocs/OLO/build/common.scss */
        .footer .navigation-footer li a:hover {
          text-decoration: underline !important; }
  /* line 306, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .wrap-right {
    float: right; }
  /* line 310, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .wrap-btn-footer.btn-above {
    margin-bottom: 10px; }
    /* line 312, E:/xampp/xampp/htdocs/OLO/build/common.scss */
    .footer .wrap-btn-footer.btn-above a {
      color: #14a0aa; }
  /* line 317, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .wrap-btn-footer.btn-behind a {
    color: white; }
  /* line 322, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .line {
    height: 2px;
    max-width: 280px;
    background: #14a0aa;
    margin: 0 auto;
    margin: 40px auto; }
  /* line 331, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .text-footer .logo-footer img {
    margin: 0 auto; }
  /* line 335, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .footer .text-footer p.text {
    color: #14a0aa;
    font-family: "HiraKakuPro-W3-AlphaNum";
    font-size: 1.2rem;
    margin-top: 20px; }

/* line 343, E:/xampp/xampp/htdocs/OLO/build/common.scss */
.copy-right {
  padding: 30px 0; }
  /* line 345, E:/xampp/xampp/htdocs/OLO/build/common.scss */
  .copy-right p {
    font-family: "HiraKakuPro-W3-AlphaNum";
    color: #505a5e;
    font-size: 1.2rem;
    text-align: center; }

@keyframes btndown {
  0% {
    bottom: 20px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 20px; } }

@-webkit-keyframes btndown {
  0% {
    bottom: 20px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 20px; } }

@-moz-keyframes btndown {
  0% {
    bottom: 20px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 20px; } }

/* line 3, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
.breadcrum {
  padding: 10px 0; }
  /* line 5, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
  .breadcrum .breadcrum-me {
    list-style-type: none; }
    /* line 7, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
    .breadcrum .breadcrum-me li {
      display: inline-block;
      padding: 0 15px;
      position: relative; }
      /* line 11, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
      .breadcrum .breadcrum-me li a {
        display: block;
        font-family: "HiraKakuPro-W3-AlphaNum";
        font-size: 1.4rem;
        color: #505a5e; }
      /* line 17, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
      .breadcrum .breadcrum-me li:after {
        content: '/';
        display: block;
        position: absolute;
        right: 0;
        top: 0; }
      /* line 24, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
      .breadcrum .breadcrum-me li:last-child:after {
        content: ''; }
      /* line 28, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
      .breadcrum .breadcrum-me li.active a {
        color: #14a0aa;
        text-decoration: underline !important; }

/* line 36, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
.static-banner {
  height: 32rem;
  background: url("../img/sitemap/sitemap-banner.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  display: table; }
  @media screen and (max-width: 767px) {
    /* line 36, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
    .static-banner {
      height: auto; } }
  /* line 45, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
  .static-banner .is-table-cell {
    display: table-cell;
    vertical-align: middle; }

/* line 53, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
.sitemap-section .content-section h3.title-sitemap {
  font-size: 2.2rem;
  font-family: "HiraKakuPro-W6-AlphaNum";
  color: #14a0aa;
  margin-bottom: 30px; }

/* line 60, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
.sitemap-section .content-section ul.list-sitemap li {
  display: block;
  margin-bottom: 10px; }
  /* line 63, E:/xampp/xampp/htdocs/OLO/build/sitemap.scss */
  .sitemap-section .content-section ul.list-sitemap li a {
    display: block;
    font-size: 1.6rem;
    font-family: "HiraKakuPro-W3-AlphaNum";
    padding: 2px 0;
    color: #505a5e;
    text-decoration: underline !important; }
